@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #012B72;
    --skyblue: #00B9F5;
    --white: #FFFFFF;
    --lightgrey: #F3F7F8;
    --orange: #FFB900;
    --yellow: #FFF764;
    --grey: #494949;
    --mediumgrey: #828282;
    --black: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--white);
}

body::-webkit-scrollbar {
    width: 6px;
    background: #ddd;
}

body::-webkit-scrollbar-thumb {
    background: var(--skyblue);
    border-radius: 20px;
}


/*main top sec_top_1 */

.sec_top_1 {
    background: var(--white);
    height: 105px;
}


#top_1_rw_2 {
    padding: 20px 3%;
    margin: 0px;    
}

.top_1_rw_2_main,
.top-1-content-box,
.top-1-content-main {
    display: flex;
}

.nav-icon i {
    font-size: 1.1rem;
    color: var(--grey);
    cursor: pointer;
    padding-top: 10px;
}

.nav-icon {
    margin: 0px 8px;
    margin: 0px 30px 0px 0px;
}

.pytm-logo {
    margin-left: 5px;
}

.paybyface {
font-size: 1.0rem;
font-weight: bold;
color: midnightblue;
margin: 0px 5px;
display: flex;
padding-top: 7px;


}

.paybyface  img {
    width: 22px;
    height: 22px;
}


.top-1-content-main {
    margin-left: auto;
}

.top-1-content-box {
    padding-top: 7px;
}

.top-1-content-main a {
    text-decoration: none;
    color: #000;
    margin: 0px 15px;
}

.top-1-content-box p {
    font-size: 1.0rem;
    margin-left: 20px;
}

.top-1-content-box img {
    width: 22px;
    height: 22px;
}

.top-1-content-box i {
    font-size: 22px;
    color: var(--skyblue);
}

/*float container */
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  

.float-child  b {
    padding: 20px;
}  

/* ----------------------form---------------------- */ 

/* Add padding to containers */

.container {
  width: 100%;  
  padding: 16px;
  background-color: ECE8E8;
  font-family: 'Open Sans', sans-serif;
  float: right;
}

/* Full-width input fields */
.container input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}

.container input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
.container hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
.container a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.titlecontainer h1
{
    text-align: center;
    color: midnightblue ;
    font-weight: bolder;
     font-family: 'Open Sans', sans-serif;
}

.titlecontainer p{
    text-align: center;

}

/*face recogniton*/
.facerecognition
{
    background-color: red;
    padding-left: 10px;
    width: 50%;
    float: left;
   
}/

/* video */
#videocontainer {
    
    width: 100%;
    height: 375px;
}
#videoElement {
    border-radius: 50%;
    margin-left: 15%;
    width: 350px;
    height: 350px;
    background-color: lightgray;
}

#payvideocontainer {
    
    width: 100%;
    height: 375px;
}
#payvideoElement {
    border-radius: 50%;
    margin-left: 37%;
    width: 350px;
    height: 350px;
    background-color: lightgray;
}



// check box 



// payment done ack

.paymentdone
{
   display: block ;
   margin-left: auto;
   margin-right : auto;
   margin-top: 500px;
   width: 50%;

}

.paymentcontainer {
    border: 3px solid #fff;
    padding: 20px;
}



    a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
